// variables

$accentColor: #c7b299;
$primaryColor: #555555;
$secondaryColor: #8c8c8c;
$whiteColor: #ffffff;
$bgGradient: linear-gradient(to right, #211b19, #4e3427);
$transitionFastEase: all 200ms ease;
$transitionSlowEase: all 400ms ease;

// mixins

@mixin fontSizeLineHeight($fontSize, $lineHeight) {
    font-size: $fontSize;
    line-height: $lineHeight/$fontSize;
}

/* border-box */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* nulling styles */

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/* visually-hidden pattern */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/******************/

// fonts
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    background-color: $whiteColor;
}

/* container */

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

/* btn */

.btn {
    box-sizing: border-box;
    display: inline-block;
    min-width: 170px;
    padding: 12px 25px;
    margin-bottom: 3px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;

    @include fontSizeLineHeight(14px, 23px);
    color: $whiteColor;
    text-transform: uppercase;

    background-color: #998675;
    box-shadow: 0 3px 0 0 #736357;
    border: 0;
    border-radius: 3px;
    cursor: pointer;

    transition: $transitionFastEase;

    &:hover,
    &:focus {
        margin-top: 3px;
        margin-bottom: 0;
        box-shadow: 0 0 0 0 #736357;
    }
}

/* logo */

.logo {
    // width: 64px;
    // height: 56px;
    display: flex;
    align-items: center;

    font-size: 34px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    line-height: inherit;

    color: white;

    transition: $transitionFastEase;

    svg {
        width: 64px;
        height: 56px;

        fill: $whiteColor;

        transition: $transitionFastEase;
    }

    &:hover,
    &:focus {
        color: $accentColor;

        svg {
            fill: $accentColor;
        }
    }
}

/* title */

.title {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

    color: $primaryColor;
}

/* subtitle */

.subtitle {
    @include fontSizeLineHeight(16px, 28px);
    font-weight: 300;

    color: $secondaryColor;
}

/* header */

.header {
    width: 100%;
    padding: 40px 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    // .header__container

    &__container {
        display: flex;
        align-items: center;
    }

    // .header__nav

    &__nav {
        margin-right: 50px;
        flex-grow: 1;
    }

    // .header__icons

    &__icons {
        display: flex;
    }

    // .header__icon-items

    &__icon-items {

        &:first-child {
            margin-right: 25px;
        }
    }

    // .header__icon-link

    &__icon-link {
        // width: 24px;
        // height: 24px;

        svg {
            width: 24px;
            height: 24px;

            fill: $whiteColor;

            transition: $transitionFastEase;
        }

        &:hover,
        &:focus {
            svg {
                fill: $accentColor;
            }
        }
    }
}

/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .nav__logo

    &__logo {}

    // .nav__list

    &__list {
        display: flex;
    }

    // .nav__item

    &__item {

        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    // .nav__link

    &__link {
        font-size: 14px;
        text-transform: capitalize;
        text-decoration: none;

        color: $whiteColor;

        transition: $transitionFastEase;

        &:hover,
        &:focus,
        &.nav-link--active {
            color: $accentColor;
        }
    }
}

/* main */

.main {
    overflow: hidden;
}

/* section */

.section {
    padding: 70px 0;
}

/* hero */

.hero {
    position: relative;

    // .hero__slides

    &__slides {}

    // .hero__slide

    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        min-height: 700px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;

        // &:nth-child(1) {
        //     background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/hero/hero_bg.jpg');
        // }

        // &:nth-child(2) {
        //     background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/hero/hero_bg_2.jpg');
        // }

        // &:nth-child(3) {
        //     background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/hero/hero_bg_3.jpg');
        // }
    }

    // .hero__container

    &__container {
        max-width: 650px;

        text-align: center;
        color: white;

        position: relative;
        z-index: 2;
    }

    // .hero__suptitle

    &__suptitle {
        margin-bottom: 15px;

        font-size: 36px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    }

    // .hero__title

    &__title {
        margin-bottom: 25px;

        font-size: 52px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }

    // .hero__text

    &__text {
        margin-bottom: 40px;

        @include fontSizeLineHeight(16px, 24px);
    }

    // .hero__button

    &__button {}

    // .hero__slide-button

    &__slide-button {
        // nulling styles of button
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        //

        padding: 20px;

        position: absolute;
        top: 50%;
        z-index: 1;

        svg {
            width: 40px;
            height: 73px;

            fill: $whiteColor;
            opacity: 0.5;

            transition: $transitionFastEase;
        }

        &:hover,
        &:focus {

            svg{
                opacity: 1;
            }
        }

        &--left {
            left: 10%;
        }

        &--right {
            right: 10%;

            transform: rotate(180deg);
        }
    }
}

/* advantages */

.advantages {

    // .advantages__container

    &__container {}

    // .advantages__items

    &__items {
        display: flex;
    }

    // .advantages__item

    &__item {
        text-align: center;

        &:not(:last-child) {
            margin-right: 30px;
        }

        &--active {
            .advantages__icon {
                fill: $accentColor;
            }
            .advantages__title{
                color: $accentColor;
            }
            .advantages__text {
                &::after {
                    background-color: $accentColor;
                }
            }
        }
    }

    // .advantages__icon

    &__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;

        fill: $primaryColor;
    }

    // .advantages__title

    &__title {
        margin-bottom: 15px;

        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }

    // .advantages__text

    &__text {
        @include fontSizeLineHeight(14px, 24px);
        font-weight: 300;
        color: $secondaryColor;

        &::after {
            content: '';
            display: block;
            width: 70px;
            height: 3px;
            margin: 20px auto 0;

            background-color: #f1eee9;
        }
    }
}

/* ideas */

.ideas {

    padding-bottom: 0;

    // .ideas__container

    &__container {
        text-align: center;
    }

    // .ideas__title

    &__title {
        margin-bottom: 20px;
    }

    // .ideas__subtitle

    &__subtitle {
        max-width: 800px;
        margin: 0 auto 30px;
    }

    // .ideas__photos

    &__photos {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    // .ideas__photo

    &__photo {
        display: block;

        position: relative;
        z-index: 2;

        &--left {
            transform: translateX(70%);

            z-index: 1;
        }

        &--right {
            transform: translateX(-70%);

            z-index: 1;
        }
    }

    // .ideas__purchase

    &__purchase {
        padding: 40px 0;

        background: $bgGradient;
    }

    // .ideas__purchase-container

    &__purchase-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .ideas__purchase-info

    &__purchase-info {}

    // .ideas__purchase-title

    &__purchase-title {
        margin-bottom: 10px;

        font-size: 28px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;

        color: $whiteColor;

        span {
            color: $accentColor;
        }
    }

    // .ideas__purchase-subtitle

    &__purchase-subtitle {
        font-size: 18px;
        font-weight: 300;

        color: #615855;
    }

    // .ideas__purchase-button

    &__purchase-button {}
}

/* projects */

.projects {

    // .projects__container

    &__container {
        text-align: center;
    }

    // .projects__title

    &__title {
        margin-bottom: 20px;
    }

    // .projects__subtitle

    &__subtitle {
        max-width: 800px;
        margin: 0 auto 30px;
    }

    // .projects__categories

    &__categories {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    // .projects__category

    &__category {

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    // .projects__radio

    &__radio {
        // visually-hidden styles
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;

        &:checked + .projects__tab {
            color: $whiteColor;
            border-color: #998675;
            background-color: #998675;
        }
    }

    // .projects__tab

    &__tab {
        display: inline-block;
        min-width: 70px;
        padding: 9px 20px;

        font-size: 14px;
        font-weight: 300;

        color: $secondaryColor;
        border: 1px solid #ebebeb;
        border-radius: 3px;

        cursor: pointer;

        transition: $transitionFastEase;

        &:hover,
        &:focus {
            color: $whiteColor;
            border-color: #998675;
            background-color: #998675;
        }
    }

    // .projects__cards

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        grid-gap: 30px;

        margin-bottom: 40px;
    }

    // .projects__card

    &__card {
        // cursor: pointer;
        transition: $transitionFastEase;

        &:hover,
        &:focus {
            background-color: #362f2d;

            .projects__info {

                &::before {
                    border-color: transparent transparent #362f2d transparent;
                }
            }

            .projects__heading {
                color: $whiteColor;
            }

            .projects__subheading {
                color: $accentColor;
            }

            .projects__link-items {
                visibility: visible;
                opacity: 1;
            }
        }

        &--hide {
            display: none;
        }
    }

    // card focus state styles
    
    .projects__card--focus {
        background-color: #362f2d;

        .projects__info {
            
            &::before {
                border-color: transparent transparent #362f2d transparent;
            }
        }

        .projects__heading {
            color: $whiteColor;
        }

        .projects__subheading {
            color: $accentColor;
        }

        .projects__link-items {
            visibility: visible;
            opacity: 1;
        }
    }

    // .projects__wrapper

    &__wrapper {
        height: 240px;

        position: relative;
    }

    // .projects__photo

    &__photo {
        display: block;
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    // .projects__link-items

    &__link-items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.65);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        visibility: hidden;
        opacity: 0;

        transition: $transitionFastEase;
    }

    // .projects__link-item

    &__link-item {

        &:first-child {
            margin-right: 25px;
        }
    }

    // .projects__link

    &__link {

        &:hover .projects__icon,
        &:focus .projects__icon {
            fill: $accentColor;
        }
    }

    // .projects__icon

    &__icon {
        width: 26px;
        height: 26px;

        fill: $whiteColor;

        transition: $transitionFastEase;
    }

    // .projects__info

    &__info {
        // height: calc(100% - 240px); // 100% height of card minus 240px height of projects__wrapper
        padding: 25px;

        text-align: left;

        position: relative;

        &::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            
            border-style: solid;
            border-width: 0 15px 10px 15px;
            border-color: transparent transparent $whiteColor transparent;

            transition: $transitionFastEase;

            position: absolute;
            top: 0;
            left: 20px;
            z-index: 20;

            transform: translateY(-99%);
        }
    }

    // .projects__heading

    &__heading {
        margin-bottom: 10px;

        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;

        color: $accentColor;

        transition: $transitionFastEase;
    }

    // .projects__subheading

    &__subheading {
        @include fontSizeLineHeight(14px, 20px);
        font-weight: 300;
        color: #d1d1d1;

        transition: $transitionFastEase;
    }

    // .projects__button

    &__button {

        &--hide {
            display: none;
        }
    }
}

/* presentation */

.presentation {
    // padding: 200px 0;
    position: relative;

    // .presentation__video 
    
    &__video {}

    // .presentation__container

    &__container {
        max-width: 600px;

        text-align: center;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        
        transform: translate(-50%, -50%);

        &--hidden {
            visibility: hidden;
            opacity: 0;
        }
    }

    // .presentation__play

    &__play {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 40px;

        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;

        svg {
            width: 70px;
            height: 70px;

            fill: $whiteColor;

            transition: $transitionFastEase;
        }

        &:hover {

            svg {
                fill: $accentColor;
            }
        }
    }

    // .presentation__title

    &__title {
        margin-bottom: 20px;

        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    
        color: $whiteColor;
    }

    // .presentation__subtitle

    &__subtitle {
        margin-bottom: 30px;

        color: $whiteColor;
    }

    // .presentation__duration

    &__duration {
        font-size: 14px;
        color: $accentColor;
    }

}

/* videoplayer */

.videoplayer {
    // width: 100%;
    // max-width: 1920px;
    // max-height: 705px;

    width: 1920px;
    height: 705px;

    position: relative;

    // .videoplayer__video

    &__video {
        display: block;
        width: 100%;
        height: 100%;
        // max-width: 100%;
    }

    // .videoplayer__controls

    &__controls {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px 40px;

        background-color: rgba(87, 48, 48, 0.6);

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        &--hidden {
            visibility: hidden;
            opacity: 0;
        }
    }

    // .videoplayer__play

    &__play {
        padding: 0;
        border: 0;
        background: none;
        cursor: pointer;

        // display: block;
        // width: 25px;
        // height: 25px;
        margin-right: 20px;

        // position: relative;

        .play,
        .pause {
            width: 25px;
            height: 25px;

            fill: $whiteColor;

            // position: absolute;
            // top: 0;
            // left: 0;
            // z-index: 1;

            // &.hide {
            //     visibility: hidden;
            //     opacity: 0;
            // }
        }

    }

    // .videoplayer__stop

    &__stop {
        padding: 0;
        border: 0;
        background: none;
        cursor: pointer;

        margin-right: 20px;

        .stop {
            width: 25px;
            height: 25px;

            fill: $whiteColor;
        }
    }

    // .videoplayer__progress

    &__progress {
        // display: flex;
        margin-right: 20px;
        width: 100%;

        .progress {
            width: 100%;
            cursor: pointer;
        }
    }

    // .videoplayer__time

    &__time {
        margin-left: auto;

        color: $whiteColor;
    }
}

/* mobile */

.mobile {
    padding-top: 75px;

    // .mobile__container

    &__container {
        display: flex;
        align-items: flex-end;
        // padding-top: 75px;
    }

    // .mobile__photo

    &__photo {
        display: block;
        // align-self: flex-end;
        margin-right: 30px;
    }

    // .mobile__content

    &__content {
        // padding-top: 110px;
        padding-bottom: 170px; 
    }

    // .mobile__title

    &__title {
        margin-bottom: 30px;
    }

    // .mobile__subtitle

    &__subtitle {
        margin-bottom: 30px;
    }

    // .mobile__advantages

    &__advantages {
        padding-left: 90px;
    }

    // .mobile__advantage

    &__advantage {
        @include fontSizeLineHeight(16px, 28px);
        font-weight: 300;
    
        color: $secondaryColor;

        position: relative;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    
    // .mobile__button

    &__button {
        // nulling styles of button
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        font: inherit;
        color: inherit;
        text-align: left;
        //

        position: relative;
        z-index: 2;

        transition: $transitionSlowEase;

        svg { // arrow
            display: inline-block;
            width: 22px;
            height: 22px;
            padding: 4px;

            fill: $whiteColor;

            background-color: $accentColor;
            border-radius: 50%;

            position: absolute;
            top: 0;
            left: -50px;
            z-index: 2;

            transition: $transitionSlowEase;
        }
 
        &[aria-expanded="true"] {
            
            svg {
                transform: rotate(90deg);
            }
        }
    }

    // .mobile__text

    &__text {
        transition: $transitionSlowEase;

        overflow: hidden;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;

        p {
            padding: 10px 0;
            transition: $transitionSlowEase;
        }

        &[aria-hidden="true"] {
            
            p {
                visibility: hidden;
                opacity: 0;
                transform: translateY(-100%);
            }
        }

        &[aria-hidden="false"] {
            
            p {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

/* statistics */ 

.statistics {
    padding: 60px;

    background: $bgGradient;

    // .statistics__container

    &__container {
        padding: 0 120px;
    }

    // .statistics__items

    &__items {
        display: flex;
        justify-content: space-between;
    }

    // .statistics__item

    &__item {
        text-align: center;
    }

    // .statistics__icon

    &__icon {
        width: 44px;
        height: 44px;
        margin-bottom: 30px;

        fill: $accentColor;
    }

    // .statistics__value

    &__value {
        margin-bottom: 15px;

        @include fontSizeLineHeight(48px, 36px);
        font-weight: 200;

        color: $whiteColor;
    }

    // .statistics__caption

    &__caption {
        padding-bottom: 30px;

        @include fontSizeLineHeight(14px, 20px);
        font-weight: 300;

        text-transform: uppercase;

        color: $accentColor;

        position: relative;

        &::after {
            content: '';
            display: block;
            width: 30px;
            height: 2px;

            background-color: $whiteColor;

            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 1;

            transform: translateX(-50%);
        }
    }
}

/* date */ 

.date {
    display: block;
    width: 50px;
    height: 60px;

    text-align: center;

    color: $whiteColor;

    // .date__day

    &__day {
        display: block;
        padding: 5px 10px;

        font-size: 24px;
        font-weight: 300;

        background-color: #363636;

        border-radius: 3px 3px 0 0;

        transition: $transitionFastEase;
    }

    // .date__month

    &__month {
        display: block;
        padding: 5px 10px;

        // font-family: roboto;
        @include fontSizeLineHeight(12px, 20px);

        background-color: #252525;

        border-radius: 0 0 3px 3px;

        transition: $transitionFastEase;
    }
}

/* posts */ 

.posts {

    // .posts__container

    &__container {
        text-align: center;
    }

    // .posts__title

    &__title {
        margin-bottom: 20px;
    }

    // .posts__subtitle

    &__subtitle {
        max-width: 800px;
        margin: 0 auto 30px;
    }

    // .posts__cards

    &__cards {
        display: flex;
        margin-bottom: 35px;
    }

    // .posts__card

    &__card {
        width: 33.3333%;
        // cursor: pointer;

        transition: $transitionFastEase;

        &:hover,
        &:focus {
            background-color: #362f2d;

            .posts__heading {
                color: $accentColor;
            }

            .posts__subheading {
                color: $whiteColor;
            }
            
            .posts__wrapper {
                &::before {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .date__day {
                background-color: $accentColor;
            }

            .date__month {
                background-color: #a48d72;
            }
        }

    }

    // .posts__wrapper

    &__wrapper {
        height: 220px;

        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
    
            background-color: rgba(0, 0, 0, 0.65);
    
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
    
            visibility: hidden;
            opacity: 0;
    
            transition: $transitionFastEase;
        }
    }

    // .posts__photo

    &__photo {
        display: block;
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    // .posts__date

    &__date {  
        position: absolute;   
        top: 20px;
        left: 20px;
        z-index: 10;  
    }

    // .posts__info

    &__info {
        padding: 25px;

        text-align: left;
    }

    // .posts__heading

    &__heading {
        height: 20px; // font-size; line-height: 1
        margin-bottom: 10px;

        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;

        color: $primaryColor;

        overflow: hidden; //

        transition: $transitionFastEase;
    }

    // .posts__subheading

    &__subheading {
        height: 40px; // line-height * 2
        margin-bottom: 20px;

        @include fontSizeLineHeight(14px, 20px);
        font-weight: 300;
        color: $secondaryColor;

        overflow: hidden; //

        transition: $transitionFastEase;
    }

    // .posts__read

    &__read {
        display: inline-flex;
        align-items: baseline;

        @include fontSizeLineHeight(14px, 20px);
        font-weight: 300;
        text-decoration: none;

        color: $accentColor;

        transition: $transitionFastEase;

        &:hover,
        &:focus {
            color: $whiteColor;

            &::after {
                border-color: transparent transparent transparent $whiteColor;
            }
        }

        &::after {
            content: '';
            width: 0;
            height: 0;
            margin-left: 8px;
            border-style: solid;
            border-width: 4px 0 4px 5px;
            border-color: transparent transparent transparent $accentColor;

            transition: $transitionFastEase;
        }
    }

    // .posts__btns

    &__btns {
        display: flex;
        justify-content: center;
    }

    // .posts__btn

    &__btn {
        width: 23px; // + 1px border
        height: 23px; // + 1px border

        padding: 0; 
        border: none;
        background: none;
        
        cursor: not-allowed;
        
        position: relative;

        transition: $transitionFastEase;

        &:first-child {
            margin-right: 10px;
        }

        svg {
            display: inline-block;
            width: 22px;
            height: 22px;
            padding: 4px;
        
            fill: #d1d1d1;

            border: 1px solid #d1d1d1;
            border-radius: 50%;
        
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            
            transition: $transitionFastEase;
        }

        // .posts__btn--left

        &--left {

            svg {
                transform: rotate(180deg);
            }
        }

        // .posts__btn--right

        &--right {

            svg {
                // transform: translateY(-50%);
            }
        }

        // .posts__btn--active

        &--active {
            cursor: pointer;
            
            svg {
                fill: $accentColor;

                border-color: $accentColor;
            }

            &:hover,
            &:focus { 
                
                svg {
                    fill: $whiteColor;

                    background-color: $accentColor;
                }
            }
        }
    }
}

/* logos */ 

.logos {
    padding: 130px 0;

    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/logos/logo-bg.jpg') center no-repeat;
    background-size: cover;

    // .logos__container

    &__container {}

    // .logos__items

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }

    // .logos__item

    &__item {}

    // .logos__link

    &__link {}

    // .logos__logo

    &__logo {}

    // .logos__icon

    &__icon {}
}

/* information */ 

.information {
    padding: 80px 0;
    background-color: #191919;

    // .information__container

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    // .information__about

    &__about {}

    // .information__logo

    &__logo {
        margin-bottom: 25px;
    }

    // .information__text

    &__text {
        @include fontSizeLineHeight(14px, 20px);
        font-weight: 300;

        color: $primaryColor;
    }

    // .information__about-text

    &__about-text {
        margin-bottom: 25px;

        @include fontSizeLineHeight(14px, 24px);
    }

    // date

    &__date {
        @include fontSizeLineHeight(12px, 20px);
        font-weight: 300;

        color: #363636;
    }

    // .information__read

    &__read {
        display: inline-flex;
        align-items: baseline;

        @include fontSizeLineHeight(14px, 20px);
        font-weight: 400;
        text-decoration: none;

        color: #d1d1d1;

        transition: $transitionFastEase;

        &:hover,
        &:focus {
            color: $accentColor;

            &::after {
                border-color: transparent transparent transparent $accentColor;
            }
        }

        &::after {
            content: '';
            width: 0;
            height: 0;
            margin-left: 8px;
            border-style: solid;
            border-width: 4px 0 4px 5px;
            border-color: transparent transparent transparent #d1d1d1;

            transition: $transitionFastEase;
        }
    }

    // 
    
    &__posts,
    &__twitter,
    &__widget {
        padding-top: 25px;
    }

    // .information__posts

    &__posts {}

    // .information__title

    &__title {
        margin-bottom: 25px;

        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 24px;

        color: $whiteColor;
    }

    // .information__posts-items

    &__posts-items {}

    // .information__posts-item

    &__posts-item {
        
        &:not(:last-child) {
            margin-bottom: 15px;
            padding-bottom: 20px;

            border-bottom: 1px solid #252525;
        }
    }

    // .information__posts-link

    &__posts-link {
        display: inline-block;

        text-decoration: none;

        &:hover,
        &:focus {
            
            .information__posts-date {
                color: $whiteColor;
            }

            .information__posts-text {
                color: $accentColor;
            }
        }
    }

    // .information__posts-date

    &__posts-date {
        display: inline-block;
        margin-bottom: 5px;

        transition: $transitionFastEase;
    }

    // .information__posts-text

    &__posts-text {
        transition: $transitionFastEase;
    }

    // .information__twitter

    &__twitter {}

    // .information__twitter-items

    &__twitter-items {}

    // .information__twitter-item

    &__twitter-item {

        &:not(:last-child) {
            margin-bottom: 15px;
            padding-bottom: 20px;

            border-bottom: 1px solid #252525;
        }
    }

    // .information__twitter-link

    &__twitter-link {
        display: inline-block;

        text-decoration: none;

        &:hover,
        &:focus {
            
            .information__twitter-date {
                color: $whiteColor;
            }

            .information__twitter-text {
                color: $accentColor;

                &--tag,
                &--link {
                    text-decoration: underline;
                }
            }
        }
    }

    // .information__twitter-text

    &__twitter-text {
        margin-bottom: 5px;

        transition: $transitionFastEase;

        // .information__twitter-text--tag

        &--tag {
            color: #00bff3;
        }

        // .information__twitter-text--link 

        &--link {
            color: #959595;
        }
    }

    // .information__twitter-date

    &__twitter-date {
        transition: $transitionFastEase;
    }

    // .information__widget

    &__widget {}

    // .information__widget-items

    &__widget-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    // .information__widget-item

    &__widget-item {}

    // .information__widget-link

    &__widget-link {}

    // .information__widget-photo

    &__widget-photo {}
}

/* footer */ 

.footer {
    padding: 40px 0;

    @include fontSizeLineHeight(13px, 20px);

    color: $primaryColor;

    background-color: #111111;

    // .footer__container

    &__container {
        display: flex;
    }

    // .footer__copy

    &__copy {
        margin-right: 10px;
        padding-right: 10px;

        border-right: 1px solid #252525;
    }

    // .footer__copy-link

    &__copy-link {
        text-decoration: none;

        color: #959595;

        transition: $transitionFastEase;

        &:hover,
        &:focus {
            color: $accentColor;
        }
    }

    // .footer__help

    &__help {
        display: flex;
    }

    // .footer__help-item

    &__help-item {
        
        &:not(:last-child) {
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid #252525;
        }
    }

    // .footer__help-link

    &__help-link {
        text-decoration: none;

        color: inherit;

        transition: $transitionFastEase;

        &:hover,
        &:focus {
            color: $accentColor;
        }
    }

    // .footer__info

    &__info {
        display: flex;
        margin-left: auto;
    }

    // .footer__info-item

    &__info-item {

        &:not(:last-child) {
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid #252525;
        }
    }

    // .footer__info-link

    &__info-link {
        text-decoration: none;

        color: #959595;

        transition: $transitionFastEase;

        &:hover,
        &:focus {
            color: $accentColor;
        }
    }
}